/* Normalize styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

/*Main page styles*/

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.skillbox-logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  margin: 0;
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link:not(:last-of-type) {
  margin-right: 25px;
}

.download-link {
  padding-left: 32px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 24px 25px;
  background-repeat: no-repeat;
}

/*Article styles*/

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.main-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.second-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.third-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.text {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.main_principle-text {
  padding: 50px 95px;
  border-radius: 20px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;
}

.list {
  margin: 0;
  padding-left: 15px;
}

.list-element:not(:last-of-type) {
  margin-bottom: 20px;
}

.list-element::marker {
  color: #3f2aff;
}

.list-link {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

.image {
  margin-bottom: 40px;
}

.image-wrapper {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.image-wrapper-caption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.gray-block {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-position: right center;
  background-repeat: no-repeat;
}

.gray-block:not(:last-of-type) {
  margin-bottom: 40px;
}

.gray-block .text {
  margin: 0;
  width: 692px;
}

.gray-block:not(:last-of-type) .text {
  margin-bottom: 10px;
}

.gray-block-decorate-1 {
  background-image: url("../img/decorate-1.png");
}

.gray-block-decorate-2 {
  background-image: url("../img/decorate-2.png");
}

/*Modules styles*/

.modules-container {
  margin: 0 auto;
  width: 1170px;
  min-height: 1477px;
}

.modules-logo {
  display: block;
  margin-top: 50px;
  margin-bottom: 25px;
}

.modules-arrow {
  display: inline-block;
  position: relative;
  top: -3px;
  margin-right: 5px;
}

.modules-link {
  display: inline-block;
  margin-bottom: 25px;
  color: #3F2AFF;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modules-main-title {
  margin: 0;
  color: #3F2AFF;
  font-family: Arial;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.modules-second-title {
  margin: 0;
  color: #3F2AFF;
  font-family: Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 25px;
}

.modules-text {
  margin: 0;
  color: #333;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  padding-left: 25px;
}

.modules-list {
  font-size: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
}

.modules-list_item {
  position: relative;
  width: 572px;
  height: 505px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
  margin-right: 25px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
}

.modules-list_item:nth-child(2n) {
  margin-right: 0;
}

.modules-list_item-image {
  width: 572px;
  height: 180px;
  margin-bottom: 25px;
}

.modules-list_item .image-1 {
  background: url("../img/modules-1.jpg"), lightgray 50% / cover no-repeat;
}

.modules-list_item .image-2 {
  background: url("../img/modules-2.jpg"), lightgray 50% / cover no-repeat;
}

.modules-list_item .image-3 {
  background: url("../img/modules-3.jpg"), lightgray 50% / cover no-repeat;
}

.modules-list_item .image-4 {
  background: url("../img/modules-4.jpg"), lightgray 50% / cover no-repeat;
}

.modules-show-more-button {
  display: block;
  margin: 0 auto;
  width: 274px;
  height: 70px;
  border: 2px solid #3F2AFF;
  color: #3F2AFF;
  background-color: #FFF;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modules-number {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: #EAEAEA;
  text-align: right;
  font-family: Roboto, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}